.GuessDisplay .guess {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
}

.GuessDisplay .letter {
  width: 56px;
  padding: 5px 0;
  margin: 2px;
  text-align: center;
  font-size: 40px;
}

.GuessDisplay .letter-correct {
  background-color: lightgreen;
}

.GuessDisplay .letter-misplaced {
  background-color: yellow;
}

.GuessDisplay .letter-absent {
  background-color: lightgray;
}
